*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0a0a;
    color: #f0f0f0;
    font-family: 'Inter',sans-serif;
}
h1,h2,h3{
    font-family: 'Bebas Neue',sans-serif;
    letter-spacing: 2px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 3px solid #f0f0f0;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav a{
    color: #f0f0f0;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 3px;
}
nav a:hover{
    opacity: 0.5px;
    background: #f0f0f0;
    color: #0a0a0a;
}
header{
    border-bottom: 3px solid #f0f0f0;
    padding: 40px;
}
.label{
    font-size: 12px;
    letter-spacing: 4px;
    opacity: 0.5;
}
h1{
    font-size: 80px;
    line-height:1 ;
}
.subtitle{
    font-size: 16px;
    opacity: 0.7;
    margin-top: 10px;
}
main {
    display: flex;
    height: 100vh;
}
aside{
    width: 280px;
    border-right: 3px solid #f0f0f0;
    padding: 30px 20px;
}
.library-header{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}
.content h2{
font-size: 24px;
letter-spacing: 3px;
margin-bottom: 30px;
border-left: 4px solid #f0f0f0;
padding-left: 15px;
}
.song-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.song-card {
  border: 2px solid #f0f0f0;
  padding: 10px;
  cursor: pointer;
}

.song-card:hover {
  background: #f0f0f0;
  color: #0a0a0a;
}

.song-cover {
  width: 100%;
  aspect-ratio: 1;
  background: #1a1a1a;
  border: 1px solid #333;
  margin-bottom: 10px;
}

.song-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.song-artist {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px;
}
.enter-btn{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 40px;
    border:  3px solid #f0f0f0;
    color: #f0f0f0;
    text-decoration: none;
    font-family: 'Bebas Neue',sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
}
.enter-btn:hover{
    background: #f0f0f0;
    color: #0a0a0a;
}